#index {
    background-color: rgb(161, 186, 255);
    text-align: center;

}
#mana{
    background-image:url(https://i.pinimg.com/originals/bd/fb/6d/bdfb6d1ad1b27f695a8995e416facb8d.jpg);
}
.belair{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNCuUmf6MsgvGnbCyGCgYlj5HUM5rL1GOXjw&s);
    text-align: center;}
#p1 {color: aliceblue; 
background-color: black;}
