.bandeira {
    width: 600px;
    height: 420px;
    border: 1px solid black;
    display: block;
}

.trescol {
    width: 200px;
    height: 420px;
    display: block;
    float: left;


}
 .azulforte {
    background-color: blue;
 }

 .branco {
    background-color: white;
 }
 .vermelho {
    background-color: red;
 }
.amarelo {
    background-color: yellow;
}
.preto { 
    background-color: black;
}
.laranja {
    background-color: orange;
}
.verde {
    background-color: green;
}
.azul {
    background-color: rgb(0, 157, 255);
}
 .lin3 {
    width: 600px;
    height: 140px ;
    display: block;
    float: left;
 }
 .bola {
    width: 150px;
    height: 150px;
    display: block;
    float: left;
    border-radius: 100%;
    margin-left: 225px;
    margin-top: 135px;
 }
.lishor {
    width: 600px;
    height: 100px;
    display: block;
    position:relative;
    top: 150px;
}
.lisver {
    width: 100px;
    height: 420px;
    display: block;
    position: relative;
    bottom: 100px;
    top: -100px;
    left: 150px;
}
.hornoruega {
    width: 600px;
    height: 80px;
    display: block;
    position: relative;
    top: 150px;
    border-top: 20px solid white;
    border-bottom: 20px solid white;
}
.vernoruega {
    width: 80px;
    height: 420px;
    display: block;
    position: relative;
    top: -120px;
    left: 100px;
    border-left: 20px solid white;
    border-right: 20px solid white;
}
.listradomeio {
width: 600px;
height: 80px;
display: block;
position: relative;
top: 170px;
left: -120px;
}
.lisverilhas {
    width: 80px;
    height: 420px;
    display: block;
    position: relative;
    top: -120px;
    left: 100px;
    border-left: 20px solid yellow;
    border-right: 20px solid yellow;
}
.lishorilhas{
    width: 600px;
    height: 80px;
    display: block;
    position: relative;
    top: 150px;
    border-top: 20px solid yellow;
    border-bottom: 20px solid yellow;
}
.triangulopalestina{
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    border-top: 210px solid transparent;
    border-bottom: 210px solid transparent;
    border-left: 300px solid red;
    position: relative;
}
.lin2{
    width: 600px;
    height: 210px;
    display: block;
    float: left;
}